{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block content %}
    <h1 class="mt-5">Contacts</h1>
    <div class="row">
        <ul class="list-group col-4">
            <li class="list-group-item">Phone: <a href="tel:+380997866781">997866781</a></li>
            <li class="list-group-item">Email: <a href="mailto:genius@gmail.com">genius@gmail.com</a></li>
            <li class="list-group-item"><a class="btn btn-primary" href="https://github.com">Github</a></li>
        </ul>
    </div>
    
{% endblock %}